<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <!-- <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href=" {{url_for('static', filename='bootstrap/css/bootstrap.min.css')}} ">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">

    <!-- <link rel="stylesheet" href="assets/fonts/font-awesome.min.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/font-awesome.min.css')}}">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#">to do book</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item nav-link"><a class="nav-link active" href=" {{ url_for('search') }} ">Search Books</a></li>
                    <li class="nav-item nav-link"><a class="nav-link active" href=" {{ url_for('library') }} ">My Library</a></li>
                    <li class="nav-item nav-link"><a class="nav-link active" href="#about">About</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="#contact">contact</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href=" {{ url_for('login') }} ">sign in/up</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background: url(&quot;{{url_for('static', filename='img/pexels-wendy-van-zyl-1112048.jpg')}}&quot;) left / cover, #000000;">
        <div class="intro-body" style="width: 1208px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">WELCOME reader</h1>
                        <p class="intro-text">Welcome to "to do book", a simple and awesome way to manage your books<br></p><a class="btn btn-link btn-circle" role="button" href="#about"><i class="fa fa-angle-double-down animated"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center content-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>About to do book</h2>
                    <p>To do book is a free and open source book manager, developed to be simple and eficient</p>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="text-center download-section content-section" id="download" style="background-image:url('assets/img/back.jpg');"> -->
    <section class="text-center download-section content-section" id="download" style="background-image:url({{url_for('static', filename='img/intro-bg.jpg')}});">
    <!-- <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script> -->
            
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h1>Register OR LOGIN FOR FREE</h1>
                <a href="https://github.com/kilerhg/TodoBook" target="_blank"><p>You can register and user for free, or even more. acess our Github!!</p><button class="btn btn-primary btn-lg btn-default" type="button">Visit OUR SORCE CODE REPOSITORY</button></a>
            </div>
        </div>
    </section>
    <section class="text-center content-section" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-3 col-lg-8 offset-xl-2 mx-auto">
                    <h2>Contact us</h2>
                    <p>Feel free to leave us a comment or feeback in github issues ;)</p>
                    <p style="margin: 8px;">Lucas Nunes&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Leandro Alves</p>
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">&nbsp;</li>
                        <li class="list-inline-item">&nbsp;</li>
                        <a href="https://www.linkedin.com/in/lucasnunesdeassis/" target="_blank"><li class="list-inline-item"><button class="btn btn-primary btn-lg btn-default" type="button"><i class="fa fa-linkedin-square fa-fw"></i><span class="network-name">&nbsp;Linkedin</span></button></a>&nbsp;<a href="https://github.com/kilerhg" target="_blank"><button class="btn btn-primary btn-lg btn-default" type="button"><i class="fa fa-github fa-fw"></i><span class="network-name">&nbsp;github</span></button></a></li>
                        <a href="https://www.linkedin.com/in/leandropinheiroalves/" target="_blank"><li class="list-inline-item"><button class="btn btn-primary btn-lg btn-default" type="button"><i class="fa fa-linkedin-square fa-fw"></i><span class="network-name">&nbsp;Linkedin</span></button></a>&nbsp;<a href="https://github.com/leandropinheiroalves" target="_blank"><button class="btn btn-primary btn-lg btn-default" type="button"><i class="fa fa-github fa-fw"></i><span class="network-name">&nbsp;github</span></button></a</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container text-center">
            <p>Copyright ©&nbsp;Brand 2021</p>
        </div>
    </footer>
    
    <!-- <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/grayscale.js"></script> -->

    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/grayscale.js')}}"></script>
    
</body>

</html>