<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    <title>Home - Brand</title>
    <!-- <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href=" {{url_for('static', filename='bootstrap/css/bootstrap.min.css')}} ">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">

    <!-- <link rel="stylesheet" href="assets/fonts/font-awesome.min.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">

    <style>
        a { text-decoration: none; }
        #texto {
        color: white;
        position: absolute;
        margin-top: -250px;
        z-index:1;
            }
        #black {
        color: black;
            }
    </style>

</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#">to do book</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item nav-link"><a class="nav-link active" href=" {{ url_for('search') }} ">Search Books</a></li>
                    <li class="nav-item nav-link"><a class="nav-link active" href=" {{ url_for('index') }} ">Home</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href=" {{ url_for('logout') }} ">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    
    <header class="masthead" style="background: url(&quot;{{url_for('static', filename='img/pexels-wendy-van-zyl-1112048.jpg')}}&quot;) left / cover, #000000;">
    
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
    
        
        <section id="work" class="portfolio-mf sect-pt4 route">
        <div class="container">
            <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                <h3 class="title-a">
                    Hi {{user_session['given_name']}}, Welcome To Your Self
                </h3>
                <h3 class="title-a">
                    Library
                </h3>
                <p class="subtitle-a">
                    Click in book to edit.
                </p>
                <div class="line-mf"></div>
                </div>

            </div>
            </div>
            </br>
            </br>
            </br>
            </br>
            </br>

            <div class="row">

                
    
                {% for pos, item in dict_books.items() %}
   
                <div class="col-md-2" onclick="document.getElementById('id{{pos}}').style.display='block'" >
                    <div class="work-box">
                    <a  target="_blank" >
                        <div class="work-img">
                        <img src=" {{ item['imagem'] }} " alt="" class="img-fluid" style="width: 210px; height: 250px; margin: 0px;">
                        </div>
                        {% if item['id_status_book'] == 0 %}
                        <div id="texto">Not Started</div>
                        {% elif item['id_status_book'] == 1 %}
                        <div id="texto">Reading</div>
                        {% elif item['id_status_book'] == 2 %}
                        <div id="texto">Read</div>
                        {% else %}
                        <div id="texto">Undefined</div>
                        {% endif %}
                        <div class="work-content">
                            <div class="row">
                              <div class="col-sm-12">
                                <h2 class="w-title"> {{ item['titulo'] }} </h2>
                                <div class="w-more">
                                  <span class="w-ctegory">{{ item['autores']}}</span> / <a href="{{ item['link'] }}" style="text-decoration: none"><span class="w-ctegory">Link google books</span></a>
                                  </br>
                                  <a href="/biblioteca/remove/{{ item['book_id'] }}" style="text-decoration: none"><span class="w-ctegory">Delete</span></a>
                                </div>
                              </div>
                            </div>
                            {% if item['id_status_book'] == 1 %}
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: {{ item['percent_book'] }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            {% endif %}
                    </a>
                    
                    </div>
                  </div>
                </div>

                <div id="id{{pos}}" class="w3-modal">
                    <div class="w3-modal-content w3-animate-right w3-card-4">
                      <header class="w3-container w3-teal"> 
                        <span onclick="document.getElementById('id{{pos}}').style.display='none'" 
                        class="w3-button w3-display-topright">&times;</span>
                        <p></p>
                        <h3>{{item['titulo']}}</h3>
                      </header>
                      <p></p>
                      <p>Options</p>
                      <div class="w3-container">
                        
                        <form action="{{url_for('update_book_library')}}", method="POST">
                                <input type="text" id="book_id" name="book_id" value="{{ item['book_id'] }}" hidden/>
                                <div class="row"> 
                                    <div class="col-md-6">
                                        <label for="status" ><a class="black"> Status</a></label>
                                        <select name="status" id="status">
                                            <option value="">Select</option>
                                            <option value="0">To Read</option>
                                            <option value="1">Reading</option>
                                            <option value="2">Read</option>
                                        </select> 
                                    </div>
                                    <div class="col-md-6" class="black"> 
                                        <label for="percent" class="black"><a class="black"> Percent</a></label>
                                        <input type="number" id="percent" name="percent" min="0" max="100">
                                    </div>
                                </div>
                                
                                <div class="row"> 
                                    <div class="col-md-12">
                                        <input type="submit" value="Save">
                                    </div>
                                </div>
                        <p></p>
                        </form>
                      </div>
                      <footer class="w3-container w3-teal">
                        <p>To Do Book</p>
                      </footer>
                    </div>
                </div>
                
    
                {%endfor%}

                

                


            
        </div>
    </section>
    </header>

    
    
        
    <footer>
        <div class="container text-center">
            <p>Copyright ©&nbsp;Brand 2021</p>
        </div>
    </footer>
    
    <!-- <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/grayscale.js"></script> -->

    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/grayscale.js')}}"></script>
    
</body>

</html>