<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <!-- <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href=" {{url_for('static', filename='bootstrap/css/bootstrap.min.css')}} ">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">

    <!-- <link rel="stylesheet" href="assets/fonts/font-awesome.min.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">

    <style>
        a { text-decoration: none; }
    </style>

</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#">to do book</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item nav-link"><a class="nav-link active" href="#about">About</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="#contact">contact</a></li>
                    <li class="nav-item nav-link"><a class="nav-link active" href=" {{ url_for('register') }} ">sign up</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href=" {{ url_for('login') }} ">sign in</a></li>
                </ul>
            </div>
        </div>
    </nav>

    
    <header class="masthead" style="background: url(&quot;{{url_for('static', filename='img/pexels-wendy-van-zyl-1112048.jpg')}}&quot;) left / cover, #000000;">
    
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
    
        
        <section id="work" class="portfolio-mf sect-pt4 route">
        <div class="container">
            <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                <h3 class="title-a">
                    Livros
                </h3>
                <p class="subtitle-a">
                    Clique na capa do livro para ver mais
                </p>
                <div class="line-mf"></div>
                </div>
            </div>
        </div>
            </br>
            </br>
            <form action="{{ url_for('search') }}", method="POST">
                <input type="text" name="book_name" placeholder="Nome Livro">
                </br>
                </br>
                </br>                
                <input type="submit" value="Buscar">
            </form>
            </br>
            </br>
            </br>   

            <div class="row">

            {% for item in books%}
    
            <div class="col-md-2">
                <div class="work-box">
                <a href=" /biblioteca/{{ item['valor'] }}" target="_blank">
                    <div class="work-img">
                    <img src=" {{ item['imagem'] }} " alt="" class="img-fluid" style="width: 210px; height: 250px; margin: 0px;">
                    </div>
                    <div class="work-content">
                        <div class="row">
                          <div class="col-sm-12">
                            <h2 class="w-title"> {{ item['titulo'] }} </h2>
                            <div class="w-more">
                              <span class="w-ctegory">{{ item['autores']}}</span> / <a href="{{ item['link'] }}" style="text-decoration: none"><span class="w-ctegory">Link</span></a>
                            </div>
                          </div>
                        </div>
                      </div>
                </a>
                </div>
            </div>
<!--  -->
            {%endfor%}


            
        </div>
    </section>
    </header>

    
    
        
    <footer>
        <div class="container text-center">
            <p>Copyright ©&nbsp;Brand 2021</p>
        </div>
    </footer>
    
    <!-- <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/grayscale.js"></script> -->

    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/grayscale.js')}}"></script>
    
</body>

</html>